@using Nop.Web.Models.BM
@model PrintVaultNavigationModel
@{
    var items = Model.PrintVaultNavigationItems.OrderBy(m => (int) m.Tab).ToList();
}   
  <div class="block block-account-navigation">
    <select class="mobile-account-nav">
      @foreach (var item in items)
      {
        <option data-href="@Url.RouteUrl(item.RouteName)">@(item.Title)</option>
      }
    </select>
    <ul class="list">
      @foreach (var item in items)
      {
        <li class="list-item @item.ItemClass">
          <a href="@Url.RouteUrl(item.RouteName)" class="list-item-link @(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
        </li>
      }
    </ul>
    @*<div class="title">
      <strong>Print Vault</strong>
    </div>
    <div class="listbox">
      <ul class="nav nav-list">
        @foreach (var item in items)
        {
          <li class="@item.ItemClass">
            <a href="@Url.RouteUrl(item.RouteName)" class="@(Model.SelectedTab == item.Tab ? "active" : "inactive")">@(item.Title)</a>
          </li>
        }
      </ul>
    </div>*@
  </div>
