@model PasswordRecoveryModel
@using Microsoft.AspNetCore.Mvc
@using Nop.Web.Extensions
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpAccesor
@{
  Layout = "_ColumnsOne";
  bool isMobile = httpAccesor.HttpContext.Request.IsMobileBrowser();

  //title
  Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
  //page class
  Html.AppendPageCssClassParts("html-password-recovery-page");
}
@if (isMobile)
{
  @section MobileHeader{
    Reset Password
  }
  <div style="text-align:center;padding:30px 40px;background:#fdfbf4;margin:0px -20px;">
    <img title="Bobo & Musu" src="~/Themes/Poppy/Content/img/logo-inline.png" style="width:235px;">
  </div>
  <div class="page login-page" style="margin-top:15px;">
    <div class="page-body theme-accent">
      <div style="color:#545454">
        @T("Account.PasswordRecovery.Tooltip")
      </div>
      <form asp-route="PasswordRecovery" method="post">
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
          <div class="form-fields" style="margin-top:15px;">
            <div class="inputs">
              <input asp-for="Email" class="email" placeholder="Your email address"/>
              <nop-required />
              <span asp-validation-for="Email"></span>
            </div>
          </div>
        <div class="buttons">
          <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
        </div>
      </form>
      @if (!string.IsNullOrEmpty(Model.Result))
      {
        <div class="result" style="color:#3e7c07;margin-top:20px;font-weight:600;">
          @Model.Result
        </div>
      }
    </div>
  </div>
}
else
{
  <div class="page password-recovery-page">
    <div class="page-title">
      <h1>@T("Account.PasswordRecovery")</h1>
    </div>
    <div class="page-body">
      @if (!string.IsNullOrEmpty(Model.Result))
      {
        <div class="result">
          @Model.Result
        </div>
      }
      <form asp-route="PasswordRecovery" method="post">
        <div asp-validation-summary="ModelOnly" class="message-error"></div>
        <p class="tooltip">@T("Account.PasswordRecovery.Tooltip")</p>
        <div class="fieldset">
          <div class="form-fields">
            <div class="inputs">
              <label asp-for="Email" asp-postfix=":"></label>
              <input asp-for="Email" class="email" />
              <nop-required />
              <span asp-validation-for="Email"></span>
            </div>
          </div>
        </div>
        <div class="buttons">
          <input type="submit" name="send-email" class="button-1 password-recovery-button" value="@T("Account.PasswordRecovery.RecoverButton")" />
        </div>
      </form>
    </div>
  </div>
}
